<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="container">
        <h1>Bootstrap Theme</h1>
    </div>
</body>
</html>